body {
  background-image: linear-gradient(rgba(255,255,255,0.65),
   rgba(255,255,255,0.65)), url("back1.jpg");
    margin: auto;
    text-align: center;
    font-family: cursive;
  }

  h1{
    font-size: 35px;
  }

  .cell {
    cursor: pointer;
    border: rgb(56, 55, 55) solid 3px;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    border-radius: 20%;
  }
  .cell:hover {
    background-color: rgb(124, 124, 121);

  }
  
  table {
    table-layout: fixed;
    border: rgb(0, 0, 0) solid 3px;
    margin: auto;
  }

  .board-container {
    margin: auto;
    margin-top: 10px;
  }
  
  .smiley{
    width : 50px;
    height: 40px;
    font-size: 25px;
    border-radius: 50%;
    margin-top: 10px;
    cursor: pointer;
  }

  
  .level-0:hover, .level-1:hover, .level-2:hover, .smiley {
    background-color:rgb(216, 216, 194);
    cursor: pointer;
  
  }
  
  .timer {
    font-family: cursive;
    width: 100px;
    margin: auto;
    border-radius: 20%;
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 40px;
    background-color: rgb(218, 211, 184);
    border:2px solid rgb(0, 0, 0);
    font-size: large; 
    font-weight: bolder;
    padding: 5px;
    padding-bottom: 3px;
   

}

.level-0{
  border: rgb(0, 0, 0) solid 2px;
  border-radius: 20%;
background-color:rgb(186, 199, 167) ;
font-size: large;
  font-family: cursive
  
}


.level-1{
  border-radius: 20%;
  border: rgb(0, 0, 0) solid 2px;
  background-color: rgb(136, 158, 129) ;
  font-size: large;
  font-family: cursive
}

.level-2{
  border-radius: 20%;
  border: rgb(0, 0, 0) solid 2px;
  background-color:rgb(73, 107, 86) ;
  font-size: large;
  font-family: cursive
}

button{
  width: 90px;
}

.lives{
  font-size: x-large;
  margin-top: 10px;
}

.hint {
  cursor: pointer;
  width: 40px;
  border-radius: 20%;
  background-color: black;
  font-size: large;
}
.reveled {
  background-color: rgb(0, 0, 0);
}


